<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <h2>
        <a class="btn btn-default" href="/#!/articles">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        {{article.title}}
        <small>by {{article.user.name}}</small>

        <div class="pull-right" data-ng-show="global.user._id == article.user._id">
            <a class="btn" href="/#!/articles/{{article._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>

    </h2>
    <h3>{{article.created | date:'medium'}}</h3>
    <pre>{{article.content}}</pre>
</section>
